<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: haack
  Date: 9/24/2020
  Time: 11:59 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Task 1</title>
    <link href="${facesContext.externalContext.requestContextPath}/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>


    <style type="text/css">

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</h:head>

<h:body>
    <div class="container " style="margin-top: 20px">
        <h:form id="form" styleClass="form-horizontal border-secondary">
            <div class="form-group row ">
                <div class="col">
                <h:outputLabel for="firstName">First name :</h:outputLabel></div>
                <div class="col-sm-10">
                    <h:inputText id="firstName" value="#{studentController.student.firstName}"
                                 rendered="#{studentController.edit==false}" required="true"
                                 requiredMessage="Invalid Field" styleClass="form-control"/>
                    <h:inputText id="firstNameedt" value="#{studentController.student.firstName}"
                                 rendered="#{ studentController.edit==true}" required="true"
                                 requiredMessage="Invalid Field" styleClass="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                <h:outputLabel for="middleName">Middle name :</h:outputLabel></div>
                <div class="col-sm-10">
                    <h:inputText id="middleName" value="#{studentController.student.middleName}"
                                 rendered="#{studentController.edit==false}" styleClass="form-control"/>
                    <h:inputText id="middleNameedt" value="#{studentController.student.middleName}"
                                 rendered="#{ studentController.edit==true}" styleClass="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                <h:outputLabel for="lastName">Last name :</h:outputLabel></div>
                <div class="col-sm-10">
                    <h:inputText id="lastName" value="#{studentController.student.lastName}"
                                 rendered="#{studentController.edit==false}" required="true"
                                 requiredMessage="Invalid Field" styleClass="form-control"/>
                    <h:inputText id="lastNameedt" value="#{studentController.student.lastName}"
                                 rendered="#{ studentController.edit==true}" required="true"
                                 requiredMessage="Invalid Field" styleClass="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <h:outputLabel for="faculty">Select Faculty :</h:outputLabel></div>
                <div class="col-sm-10">
                    <div class="form-group">
                    <h:selectOneMenu id="faculty" value="#{studentController.faculty}"
                                     rendered="#{ studentController.edit==false}" required="true"
                                     requiredMessage="Invalid Field" style="width:300px" styleClass="form-control">
                        <p:ajax listener="#{studentController.onFacultyChanged}" update="programme"/>
                        <f:selectItem itemLabel="Select Faculty" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{studentController.faculties}"/>
                    </h:selectOneMenu>
                    <h:selectOneMenu id="facultyEdit" value="#{studentController.faculty}"
                                     rendered="#{ studentController.edit==true}" required="true"
                                     requiredMessage="Invalid Field" style="width:300px" styleClass="form-control">
                        <p:ajax listener="#{studentController.onFacultyChanged}" update="programme"/>
                        <f:selectItem itemLabel="Select Faculty" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{studentController.faculties}"/>
                    </h:selectOneMenu>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                <h:outputLabel for="programme" value="Select programme :"/></div>
                <div class="col-sm-10">
                    <div class="form-group">
                    <h:selectOneMenu id="programme" value="#{studentController.programme}"
                                     rendered="#{ studentController.edit==false}" required="true"
                                     requiredMessage="Invalid Field" style="width:300px" styleClass="form-control">
                        <f:selectItem itemLabel="Select Programme" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{studentController.programmes}"/>
                    </h:selectOneMenu>

                    <p:selectOneMenu id="programmeEdit" value="#{studentController.programme}"
                                     rendered="#{ studentController.edit==true}" required="true"
                                     requiredMessage="Invalid Field" style="width:300px" styleClass="form-control">
                        <f:selectItem itemLabel="Select Programme" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{studentController.programmes}"/>
                    </p:selectOneMenu>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"/>
                <div class="col">
            <h:commandButton id="submit" value="submit" action="#{studentController.add}" update="form2"
                             rendered="#{ studentController.edit==false}" styleClass="btn btn-primary w-25"/>
            <h:commandButton id="save" value="save"
                             action="#{studentController.saveEdit(studentController.student)}"
                             rendered="#{ studentController.edit==true}" styleClass="btn-primary btn w-25"/>

            </div>
            </div>
            <p:separator/>
        </h:form>
    </div>
<div class="container">
    <h:form id="form2" rendered="#{not empty studentController.studentList}">

        <h:dataTable value="#{studentController.studentList}" var="std">
            <h:column><f:facet name="header">First Name</f:facet>#{std.firstName}</h:column>
            <h:column><f:facet name="header">Middle Name</f:facet>#{std.middleName}</h:column>
            <h:column><f:facet name="header">Last Name</f:facet>#{std.lastName}</h:column>
            <h:column><f:facet name="header">Faculty </f:facet>#{std.faculty}</h:column>
            <h:column><f:facet name="header">Programme </f:facet>#{std.programme}</h:column>
            <h:column>
                <f:facet name="header">Operation</f:facet>
                <h:commandButton id="edit" value="Edit" action="#{studentController.edit(std)}"
                                 styleClass="btn btn-info"/>
            </h:column>
            <h:column>
                <f:facet name="header">Operation</f:facet>
                <h:commandButton id="delete" value="Delete" action="#{studentController.delete(std.id)}"
                                 styleClass="btn btn-danger"/>
            </h:column>
        </h:dataTable>
    </h:form>
</div>
</h:body>

</html>